# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ / Android Studio
*.iml
*.ipr
*.iws
.idea/

# VS Code (istersen açabilirsin)
#.vscode/

# Flutter / Dart
.dart_tool/
.flutter-plugins-dependencies
.pub-cache/
.pub/
build/
**/build/
coverage/

# Flutter iOS
**/ios/Flutter/.last_build_id
ios/Flutter/ephemeral/
ios/Flutter/Generated.xcconfig

# Flutter Windows
windows/flutter/ephemeral/

# Symbolication
app.*.symbols

# Obfuscation
app.*.map.json

# Android build
/android/app/debug
/android/app/profile
/android/app/release

# 🔥 BÜYÜK DOSYA ENGELLEME (ÇOK ÖNEMLİ)
*.zip
*.rar
*.7z
*.tar
*.gz
*.lib
*.dll
*.exe
*.so
*.dylib
*.a
*.o
*.obj

# Firebase / SDK (senin hatadan dolayı)
firebase_cpp_sdk_windows/